@import "./variables.scss";
@import "./templates.scss";


%font-h2 {
  font-family: "SNFBSTRD-handwritten";
  font-weight: 400;
  font-size: 2.2em;
  line-height: 48px;
  letter-spacing: 0.06em;
}
%font-h4 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 138%;
  letter-spacing: 0.05em;
  color: #4e4c46;
}
%font-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 137%;
  letter-spacing: 0.05em;
  color: #4e4c46;
}

p,
h2,
h4 {
  margin: 0;
}

.body {
  width: 1440px;
  margin: 0 auto;
}
.container-header {
  margin-top: 3.2%;
  max-width: 1400px;
  display: flex;
  justify-content: flex-end;
}
.header-nav {
  min-width: 40%;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;

  @media screen and (max-width: 750px) {
    display: none;
  }
}
.header-list {
  color: --text-color-menu;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12%;
}
a {
  text-decoration: none;
}
.header__btn {
  width: 102px;
  height: 46px;
  background-color: var(--btn-menu);
  border-radius: 10px;
  border: none;
  color: var(--text-color-btn);
}
.fund {
  background: url(../images/pics/header-bg.png);
}
.container-fund {
  max-width: 1208px;
  margin: 0 auto 0 116px;
  @media screen and (max-width: 1350px) {
    margin: 0 auto 0 50px;
  }
}
.fund-content {
  height: 787px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-content: flex-start;
}
.title__h1 {
  padding-top: 21.8%;
  padding-left: 2px;
  margin: 0;
  @extend%font-h2;
}
.sub-title__h1 {
  font-family: "SNFBSTRD-handwritten";
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.05em;
  padding-top: 2%;
}
.about {
}
.about_first-part {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
  @media screen and (max-width: 1250px) {
    flex-wrap: wrap;
  }
}
.about__img-container {
  min-width: 590px;
  height: 733px;
}
.about__img {
  width: 124%;
}
.about-content {
  padding-top: 6%;
  min-width: 50vw;
  height: 80%;
  @media screen and (max-width: 1200px) {
    height: 100%;
  }
}
.title__h2 {
  @extend%font-h2;
  margin-bottom: 7%;
}
.about__text {
  @extend%font-text;
  margin-bottom: 6%;
}
.title__h4 {
  @extend%font-h4;
}
.about_sechond-part {
  padding-top: 0.7%;
  width: 58vw;

  @media screen and (max-width: 1200px) {
    width: 80vw;
  }
}
